<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetmanS</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<script>
    // Scanner
    function redirectToScanner(){
        window.location.assign("/scanner");
    }

    // User Info
    function redirectToUserInfo(){
        window.location.assign("/userlocation")
    }

    // Data Provider
    function redirectToThreats(){
        window.location.assign("/dataprovider")
    }

    // Downtime
    function redirectToDowntime(){
        window.location.assign("/remediation/downtime")
    }

    // Troubleshoot
    function redirectToTroubleShoot(){
        window.location.assign("/remediation/troubleshoot")
    }

    // Sample functions for additional functionalities
    function openInventoryManagement() {
        // Functionality to open inventory management section
    }

    function openRemoteDeviceManagement() {
        // Functionality to open remote device management section
    }

    function customizeDashboard() {
        // Functionality to customize the dashboard layout
    }
</script>


<body>
    <header>
        <h1>NetmanS</h1>
    </header>
    <div class="container">
        
        <!-- Health and Performance Statistics section -->
        <div class="card health-performance">
            <div class="card-inner" onclick="redirectToDowntime()">
                <h2>Health and Performance Statistics</h2>
                <p>Router 1 CPU Usage: 60%</p>
                <p>Switch 1 Memory Usage: 80%</p>
            </div>
        </div>
        
        <!-- TroubleShoot section -->
        <div class="card inventory-management">
            <div class="card-inner" onclick="redirectToTroubleShoot()">
                <h2>Troubleshoot</h2>
                <p>Troubleshoot Network Devices</p>
            </div>
        </div>

        <!-- Remote Device Management section -->
        <div class="card remote-device-management">
            <div class="card-inner">
                <h2>Remote Device Management</h2>
                <button onclick="openRemoteDeviceManagement()">Open Remote Device Management</button>
            </div>
        </div>

        <!-- Threats and Vulnerabilities section -->
        <div class="card threats-vulnerabilities">
            <div class="card-inner" onclick="redirectToThreats()">
                <h2>Threats and Vulnerabilities</h2>
                <ul id="threatsList">
                    <!-- Threats and vulnerabilities -->
                </ul>
            </div>
        </div>

        <!-- Packet sniff -->
        <div class="card alarms">
            <div class="card-inner" id="network-alarms" onclick="redirectToScanner()">
                <h2>Sniff Packets</h2>
                <ul>
                    <li>Time Duration   :""</li>
                    <li>Packets         :""</li>
                </ul>
            </div>
        </div>

        <!-- User Information (user behavior) -->
        <div class="card user-information">
            <div class="card-inner" onclick="redirectToUserInfo()">
                <h2>User Login Information</h2>
                <p>This is where you can display notifications and alerts.</p>
            </div>
        </div>

        <!-- Customization and Extensibility section -->
        <div class="card customization-extensibility">
            <div class="card-inner">
                <h2>Customization and Extensibility</h2>
                <button onclick="customizeDashboard()">Customize Dashboard</button>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="/static/index.js"></script>
</body>
</html>
